
        <div class="c-about" id="o-mnie">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--112">
                        <h2 class="o-lead o-lead--2">Kim jestem</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Przez ponad 6 lat prowadziłem własną agencję brandingową. Naszymi klientami były wielkie marki, jak np. Dr. Oetker, czy Amnesty International, ale też małe firmy, instytucje kultury, samorządy itp.</p>
                        </section>
                    </header> 
                    
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <img class="b-lazy alignleft" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/jacek-3.jpg") %> alt="Jacek Kłosiński">
                        </div>
    
                        <div class="o-cols__item">
                            <div class="o-article o-article--medium">                       
                            
                            <p>Po zrealizowaniu kilkuset projektów dla klientów, poczułem potrzebę podzielenia się wiedzą. Zacząłem prowadzić zajęcia na uczelniach wyższych, szkolenia na żywo i kursy on-line. </p>
                            
                            <p>&nbsp;</p>
                            
                            <p>Napisałem wiele artykułów do branżowej prasy, wydałem książkę i występowałem na największych konferencjach marketingowych. </p>
                            
                            <p>&nbsp;</p>
                            
                            <p>Regularnie prowadzę też bloga, podcast i kanał na YouTube gdzie pomagam małym firmom w rozwoju ich biznesu. Moją stronę klosinski.net odwiedza miesięcznie ponad 80000 osób. </p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>W kursie podsumowałem całe to doświadczenie. Pokażę Ci narzędzia i sposoby, które wykorzystywałem przy tworzeniu strategii marek za pięciocyfrowe kwoty.</strong></p>
                            
                            <p>&nbsp;</p>
                            
                            <p>PS. Wcześniej zrobiłem dwa inne kursy online, które kupiło prawie 1500 osób, a ich średnia ocena to ponad 9 punktów na 10 możliwych.</p>                        
                        </div>
                    </div>
    
                </div>
                    
                </div>
            </div>
        </div>
