
    <div class="c-afterintro" id="after">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="c-post">
                    <div class="o-article o-article--medium">
                        
                        <blockquote>
                            <p>Zdobywanie klientów to jedno z najtrudniejszych zadań 
                                w&nbsp;każdym małym biznesie:</p>
                        </blockquote>

                        <p>&nbsp;</p>
                            
                        <ol>
                            <li>Tworzenie ofert zabiera mnóstwo czasu, który wolelibyśmy poświęcić na pracę nad projektami.</li>
                            <li>Stresujemy się, bo nie mamy pewności, czy klient wybierze naszą propozycję.</li>
                            <li>Nie lubimy wcielać się w rolę sprzedawcy. Źle się czujemy, kiedy musimy przekonywać i&nbsp;zachęcać.</li>
                        </ol>
                        
                        <div class="o-cols o-cols--2">
                            <div class="o-cols__item">
                                <figure>
                                    <img src=<%= require("./img/about/jacek-2.jpg") %> 
                                         alt="Jacek Kłosiński" width="512" height="410">

                                    <figcaption>
                                        więcej o mnie znajdziesz na <a href="https://klosinski.net" target="_blank">klosinski.net</a>
                                    </figcaption>
                                </figcaption>
                            </div>
                            
                            <div class="o-cols__item">
                                <p>Moje początki też były frustrujące. Kiedy pojawiała się szansa na nowego klienta, długimi godzinami pracowałem nad stworzeniem idealnej oferty. Marnowałem masę czasu i energii, a moja propozycja i&nbsp;tak lądowała w koszu.</p>
        
                                <p>W końcu zmieniłem podejście. Nauczyłem się, że dobra oferta wcale nie musi być długa ani kosztować nas wiele godzin pracy. </p>
                                
                                <p><strong>Kluczem do sukcesu jest sprawdzony proces, który można łatwo i szybko powielać.</strong></p>
                                
                                <p>Przez kilkanaście lat pracy na swoim, doszlifowałem własny sposób tworzenia ofert, który pozwolił mi zdobyć takich klientów, jak Play, Orange, Santander, Credit Agricole, czy Kompania Piwowarska.</p>
                                
                                <p><strong>Całą tą wiedzą dzielę się teraz w nowym kursie online.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
