
    <div class="c-catboxes bg-gray" id="o-kursie">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Kurs online</h2>          

                    <div class="o-article o-article--huge">
                        <p>Przygotowałem kurs online, dzięki któremu zdobędziesz nowych klientów i oszczędzisz masę czasu. Opowiem Ci o moim sprawdzonym procesie tworzenia ofert.</p>
                    </div>
                </div>               

                <div class="c-boxes__items">
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-num">1</i>
                            filtrowanie<br>
                            zapytań
                        </h4>
                        
                        <div class="o-article">
                            <p>Pokażę Ci jak zweryfikować, czy mowa o projekcie, w który warto się angażować.</p>
                            <p>&nbsp;</p>
                            <p>Przygotowałem zestaw filtrów, dzięki któremu szybko ocenisz każde zapytanie.</p>
                        </div>
                        
                        <h6 class="o-lead o-lead--6"><i class="icon-check"></i> omówię mój sprawdzony proces i &nbsp;procedury</h6>
                    </div>
                     
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-num">2</i>
                            przygotowanie <br>
                            oferty
                        </h4>
                        
                        <div class="o-article">
                            <p>Powiem Ci jak stworzyć uniwersalny, szybki w użyciu szablon oferty.</p>
                            <p>&nbsp;</p>
                            <p>Składa się on z 8 elementów, które można łatwo edytować i&nbsp;personalizować.</p>
                        </div>
                        
                        <h6 class="o-lead o-lead--6"><i class="icon-check"></i> dostaniesz szablon oferty i wzory tekstów</h6>
                    </div>
                    
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-num">3</i>
                            kontakt <br>
                            z&nbsp;klientem
                        </h4>
                        
                        <div class="o-article">
                            <p>Nauczę Cię jak poprowadzić komunikację i zadbać o dobry kontakt z&nbsp;klientem.</p>
                            <p>&nbsp;</p>
                            <p>Dowiesz się jak opowiadać 
                            o&nbsp;ofercie, żeby klient zrozumiał korzyści ze współpracy z Tobą. </p>
                        </div>
                        
                        <h6 class="o-lead o-lead--6"><i class="icon-check"></i> pokażę ci proces oraz szablony maili</h6>
                    </div>
                </div>
                
                <div class="o-header aligncenter">
                    <div class="o-article o-article--huge">
                        <p>Każdy z tych etapów dokładnie omawiam w kursie. Dostaniesz kompletny przewodnik po całym procesie tworzenia i&nbsp;wysyłki ofert. 
</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
