
        <div class="c-cost bg-yellow" id="cena">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--72">
                        <h2 class="o-lead o-lead--2">ile to kosztuje</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>To pierwsza edycja tego kursu, a to oznacza, że mam dla Ciebie specjalną ofertę. Tylko z&nbsp;okazji premiery dostajesz dożywotni dostęp, a mój świetnie oceniany kurs o wycenianiu pracy (9,5/10) możesz kupić znacznie taniej.</p>                           
                        </section>
                        
                        <h6 class="o-lead o-lead--6">ale pamiętaj, kurs jest w sprzedaży tylko do: 14.10.2020</h6>
                    </header> 
                    
    
                    <div class="c-cost__content bottom--112">
                        <div class="c-cost__plan c-cost__plan--white">
                            <h4 class="o-lead o-lead--4">kurs tworzenia ofert</h4>
                            
                            <div class="c-cost__price">
                                <p class="o-lead o-lead--current">499</p>
                                <p class="o-lead o-lead--6">brutto</p>
                            </div>
                            
                            <article class="o-article">
                                <ul class="o-list o-list--graychecks o-list--small">                                    
                                    <li>
                                        <strong>dożywotni dostęp do kursu</strong>, aktualizacji i bonusów
                                    </li>
                                    
                                    <li>
                                        <strong>4 godziny nagrań audio</strong>, 
                                        do odsłuchania w dowolnym
                                        miejscu
                                    </li>
                                    
                                    <li>
                                        <strong>Wersja tekstowa</strong> każdej lekcji 
                                        i&nbsp;objaśniające grafiki
                                    </li>
                                    
                                    <li>
                                        <strong>Gotowy szablon oferty</strong> 
                                        (w&nbsp;formacie indd i docx)
                                    </li>
                                    
                                    <li>
                                        <strong>Listy kontrolne</strong>, szablony tekstów i schematy procedur
                                    </li>
                                    
                                    <li>
                                        <strong>Szablony maili</strong>, 18 gotowych wzorów do wykorzystania
                                    </li>
                                </ul>
                            </article>
                            
                            <div class="c-cost__cta">
                                <a href="#" class="o-btn o-btn--huge o-btn--black">Kupuję!</a>
                            </div>
                        </div>
                        
                        
                        <div class="c-cost__plan c-cost__plan--black">
                            <h4 class="o-lead o-lead--4">kurs tworzenia ofert</h4>
                            <h4 class="o-lead o-lead--4 color-primary">+</h4>
                            <h4 class="o-lead o-lead--4">kurs wyceniania pracy</h4>
                            
                            <p class="c-cost__more">(więcej o tym kursie <a href="https://kursy.klosinski.net/wycena-pracy/" target="_blank">tutaj</a>)</p>
                            
                            <div class="c-cost__price">
                                <p class="o-lead o-lead--old">949</p>
                                <p class="o-lead o-lead--current">799</p>
                                <p class="o-lead o-lead--6">brutto</p>
                            </div>
                            
                            <header class="o-header aligncenter">
                                <h5 class="o-lead o-lead--5">cały kurs tworzenia ofert oraz <span class="color-primary">dodatkowo</span>:</h5>
                            </header>
                            
                            <article class="o-article">
                                <ul class="o-list o-list--graychecks o-list--small">                                    
                                    <li>
                                        <strong>dożywotni dostęp</strong> do obu kursów, aktualizacji i bonusów
                                    </li>

                                    <li>
                                        <strong>5 rozdziałów i 40 lekcji</strong>,
                                        na temat wyceniania pracy
                                    </li>
                                    
                                    <li>
                                        <strong>Wersja tekstowa</strong> każdej lekcji 
                                        i&nbsp;objaśniające grafiki
                                    </li>
                                    
                                    <li>
                                        <strong>Kalkulator</strong> pomagający obliczyć wycenę
                                    </li>
                                    
                                    <li>
                                        <strong>Gotowy wzór umowy</strong> 
                                        dot. praw autorskich
                                    </li>
                                    
                                    <li>
                                        <strong>Arkusz kalkulacyjny</strong> 
                                        do obliczania kosztów
                                    </li>
                                    
                                    <li>
                                        <strong>Dostęp do zamkniętej grupy</strong> na Facebooku
                                    </li>
                                    
                                    <li>
                                        <strong>Kilkadziesiąt ćwiczeń</strong>
                                        i&nbsp;list kontrolnych
                                    </li>
                                    
                                    <li>
                                        <strong>Notatki z kursu</strong> do pobrania (format pdf)
                                    </li>
                                </ul>
                            </article>
                            
                            <div class="c-cost__cta">
                                <a href="#" class="o-btn o-btn--huge o-btn--yellow">Kupuję!</a>
                            </div>
                        </div>
                    </div>
                    
                    
                    <header class="o-header aligncenter">    
                        <section class="o-article o-article--medium">
                            <p>A jeśli Ci się nie spodoba? Niczego nie ryzykujesz, masz 30 dni na zwrot.
Po prostu napisz, oddam Ci pieniądze.</p>                           
                        </section>
                    </header> 
                </div>
            </div>
        </div>
