
    <div class="c-index" id="zawartosc">
        <div class="o-section">
            <div class="o-wrap">
                
                <header class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Spis treści</h2>          

                    <section class="o-article o-article--huge">
                        <p>Potrzebujesz większych konkretów? Rozwiń poniżej, żeby zobaczyć więcej szczegółów na temat każdego<br> rozdziału kursu:</p>
                    </section>
                </header>
                

                <ul class="o-accordion js-accordion">
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">zanim zaczniesz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Dlaczego tworzenie ofert jest niezbędne?</p></p>
                            </li>
                            <li>
                                <p>Jak wygląda idealny proces tworzenia oferty?</p>
                            </li>
                            <li>
                                <p>Jak ocenić, do których zapytań warto przygotować ofertę?</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">tworzymy ofertę</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Jakie są elementy dobrej oferty?</p>
                            </li>
                            
                            <li>
                                <p>Co umieścić na okładce?</p>
                            </li>
                            
                            <li>
                                <p>Jak napisać wstęp do oferty?</p>
                            </li>
                            
                            <li>
                                <p>Jak przedstawić problem, który rozwiążesz?</p>
                            </li>
                            
                            <li>
                                <p>Jak pokazać swoje usługi i pomysły?</p>
                            </li>
                            
                            <li>
                                <p>Jak wytłumaczyć swój proces?</p>
                            </li>
                            
                            <li>
                                <p>Jak przedstawić harmonogram i terminy?</p>
                            </li>
                            
                            <li>
                                <p>Co napisać o sobie, żeby nie zanudzić i wzbudzić zaufanie?</p>
                            </li>
                            
                            <li>
                                <p>Jak zaaranżować cennik i tworzyć kosztorysy?</p>
                            </li>
                            
                            <li>
                                <p>Jak zachęcić do kontaktu i współpracy?</p>
                            </li>
                            
                            <li>
                                <p>Jakie dodatki do oferty uwzględnić?</p>
                            </li>
                            
                            <li>
                                <p>Jak zadbać o dobrą formę prezentacji i wygląd oferty?</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">po wysłaniu</h5>
                            <i class="icon-plus"></i>
                        </header>

                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Jak poprowadzić kontakt z klientem?</p>
                            </li>
                            
                            <li>
                                <p>Jakie kroki wykonać, kiedy wyślemy już ofertę?</p>
                            </li>
                            
                            <li>
                                <p>Jak standaryzować ofertę i tworzyć własne szablony?</p>
                            </li>
                            
                            <li>
                                <p>Co zrobić, gdy nie dostajemy odpowiedzi?</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
