
    <div class="c-index" id="zawartosc">
        <div class="o-section">
            <div class="o-wrap">
                
                <header class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Spis treści</h2>          

                    <section class="o-article o-article--huge">
                        <p>Potrzebujesz większych konkretów? Rozwiń poniżej, żeby zobaczyć więcej szczegółów na temat każdego<br> rozdziału kursu:</p>
                    </section>
                </header>
                

                <ul class="o-accordion js-accordion">
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">zanim zaczniesz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Przygotujesz się do budowania marki.</p>
                            </li>
                            <li>
                                <p>Dowiesz się jakich błędów unikać na samym początku.</p>
                            </li>
                            <li>
                                <p>Zrozumiesz jakie kroki trzeba przejść, żeby stworzyć świetny plan dla marki.</p>
                            </li>
                            <li>
                                <p>Nauczysz się robić tzw. „audyt marki”, czyli podsumowanie dotychczasowych działań.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">tworzymy ofertę</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Jakie są elementy dobrej oferty?</p>
                            </li>
                            
                            <li>
                                <p>Co umieścić na okładce?</p>
                            </li>
                            
                            <li>
                                <p>Jak napisać wstęp do oferty?</p>
                            </li>
                            
                            <li>
                                <p>Jak przedstawić problem, który rozwiążesz?</p>
                            </li>
                            
                            <li>
                                <p>Jak pokazać swoje usługi i pomysły?</p>
                            </li>
                            
                            <li>
                                <p>Jak wytłumaczyć swój proces?</p>
                            </li>
                            
                            <li>
                                <p>Jak przedstawić harmonogram i terminy?</p>
                            </li>
                            
                            <li>
                                <p>Co napisać o sobie, żeby nie zanudzić i wzbudzić zaufanie?</p>
                            </li>
                            
                            <li>
                                <p>Jak zaaranżować cennik i tworzyć kosztorysy?</p>
                            </li>
                            
                            <li>
                                <p>Jak zachęcić do kontaktu i współpracy?</p>
                            </li>
                            
                            <li>
                                <p>Jakie dodatki do oferty uwzględnić?</p>
                            </li>
                            
                            <li>
                                <p>Jak zadbać o dobrą formę prezentacji i wygląd oferty?</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">po wysłaniu</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Dowiesz się jakich zasad trzeba się trzymać, żeby skutecznie wdrażać pomysł na markę.</p>
                            </li>
                            
                            <li>
                                <p>Zrozumiesz na co zwracać uwagę, żeby stworzyć dobrą nazwę dla marki.</p>
                            </li>
                            
                            <li>
                                <p>Pokażę jak sprawić, żeby identyfikacja wizualna oddawała Twój pomysł na markę.</p>
                            </li>
                            
                            <li>
                                <p>Nauczę Cię opowiadać o Twojej marce krótko i zrozumiale.</p>
                            </li>
                            
                            <li>
                                <p>Powiem Ci co umieścić na Twojej stronie internetowej i pokażę jak dopasować ją do pomysłu na markę.</p>
                            </li>
                            
                            <li>
                                <p>Dowiesz się jak uwzględnić pomysł na markę w mediach społecznościowych.</p>
                            </li>
                            
                            <li>
                                <p>Omówię jak dopasować język, słowa i teksty do pomysłu na markę.</p>
                            </li>
                            
                            <li>
                                <p>Pokażę Ci jak stworzyć brand book, czyli zasady i procedury dla marki.</p>
                            </li>
                            
                            <li>
                                <p>Podpowiem z jakich narzędzi, programów i aplikacji korzystać tworząc markę.</p>
                            </li>
                            
                            <li>
                                <p>Pokażę Ci skąd czerpać dodatkową wiedzę i inspiracje na temat budowania marki.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
