
        <div class="c-why">
            <div class="o-section">
                <div class="o-wrap">                    
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            
                            <header class="o-header bottom--112 js-sticky">
                                <h2 class="o-lead o-lead--2">nadal nie wiesz, czy to dla ciebie?
                                </h2>
            
                                <section class="o-article o-article--huge">
                                    <p>Jeśli zastanawiasz się, czy ten kurs faktycznie Ci pomoże, zobacz dla kogo go przygotowałem.</p>
                                </section>
                            </header>                           
                        </div>
    
                        <div class="o-cols__item">
                            <h5 class="o-lead o-lead--5"><strong>ten kurs jest dla ciebie, jeśli:</strong></h5>

                            <ul class="o-list o-list--yellowchecks o-list--small">
                                
                                <li>Oferujesz usługi i&nbsp;chcesz lepiej odpowiadać na zapytania klientów.

<li>Tworzenie ofert zajmuje Ci masę czasu 
i&nbsp;chcesz ten proces przyspieszyć.</li>

<li>Klienci zbyt często wybierają Twoich konkurentów 
i&nbsp;chcesz zwiększyć skuteczność swoich ofert.</li>

<li>Ciężko Ci rozgryźć klienta i&nbsp;chcesz lepiej odpowiadać w&nbsp;ofercie na jego potrzeby. </li>

<li>Przyciągasz niewłaściwych klientów i&nbsp;chcesz nauczyć się lepiej ich weryfikować.</li>

<li>Trudno jest Ci znaleźć kompromis pomiędzy
ilością informacji a przejrzystością oferty.</li>

<li>Twoje oferty często zostają bez odzewu lub długo czekasz na odpowiedź.</li>

<li>Chcesz zobaczyć przykłady prawdziwych ofert, które wysyłałem do klientów i które wygrywały mi zlecenia. </li>
                                
                            </ul>


                            <h5 class="o-lead o-lead--5"><strong>ten kurs nie jest dla ciebie, jeśli:</strong></h5>

                            <ul class="o-list o-list--blackx o-list--small">
                                
                                <li><p>Twój biznes bazuje na produktach i nie wysyłasz personalizowanych ofert do każdego klienta.</p></li>

                                <li>Wysyłasz niepersonalizowane oferty i to Ty inicjujesz kontakt z klientem (w ramach tzw. aktywnej sprzedaży). 
                                
                                    <p>&nbsp;</p>

                                    <p><em>W tej sytuacji nadal możesz sporo z tego kursu dla siebie wyciągnąć, ale materiał jest stworzony pod kątem odpowiadania na zapytania klientów.</em></p>
                                
                                </li>

                                <li>Masz sporo klientów i nie potrzebujesz nowych.</li>
                                
                                <li>Masz własny sprawdzony proces tworzenia ofert.</li>
                                
                                <li>Tworzenie ofert zajmuje Ci mało czasu.</li>                                
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
