
        <div class="c-worth">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--112">
                        <h2 class="o-lead o-lead--2">dlaczego warto</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Kurs stworzyłem tak, żeby dał Ci konkretne korzyści. Chcę ułatwić Ci pracę i poprawić Twoje efekty.</p>
                        </section>
                    </header> 
                    
    
                    <div class="c-post">
                        <div class="o-article o-article--medium">

                            <ol>
                                <li>
<h5><strong>zdobędziesz nowych, lepszych klientów</strong></h5>
                            
Koniec z tworzeniem ofert, za które w ogóle nie warto się zabierać. Koniec z projektami, które kończą się klapą. Nauczę Cię filtrować i oceniać zapytania.</li>
                                
                                <li>
<h5><strong>oszczędzisz mnóstwo czasu</strong></h5>

Nie będziesz już poświęcać długich godzin na tworzenie ofert. Dam Ci gotowy proces i szablony, które przyspieszą Twoją pracę. Pokażę Ci jakie elementy warto personalizować i jak robić to szybko. </li>
                                
                                <li>
<h5><strong>zarobisz więcej</strong></h5>

Dowiesz się w jaki sposób opowiadać o swoich usługach, żeby klient zrozumiał korzyści ze współpracy właśnie z Tobą. To większa skuteczność
i&nbsp;więcej wygranych ofert.</li>
                            </ol>                          
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
